<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.CustomerEnterpriseMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.CustomerEnterprise">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="entName" column="ent_name" jdbcType="VARCHAR"/>
            <result property="entAddr" column="ent_addr" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ent_name,ent_addr
    </sql>
</mapper>
