<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="dept" column="dept" jdbcType="INTEGER"/>
            <result property="hiredate" column="hireDate" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="admin" column="admin" jdbcType="INTEGER"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
            <result property="entId" column="ent_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        email,age,dept,
        hireDate,state,admin,
        login_time,register_time,ent_id
    </sql>
</mapper>
